{% extends "home.html" %}
{% block content %}
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Back</h2>
					<img src="{{ url_for('static', filename='img/backarrow.png') }}" alt="Image of Landscape">
					<p><a class="btn btn-default" href="{{ url_for('gallery') }}" role="button">Back &raquo;</a></p>
				</div>
			
				<div class="col-md-4">
					<h2>Snail Underwater</h2>
					<img src="{{ url_for('static', filename='img/animals/snail_underwater_icon.jpg') }}" alt="Image of Landscape">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Snails</h2>
					<img src="{{ url_for('static', filename='img/animals/snails_icon.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Squirrels of Edinburgh</h2>
					<img src="{{ url_for('static', filename='img/animals/squirrels_of_edinburgh_icon.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
			</div>
		</div> <!-- /container -->
	</body>
</html>
{% endblock %}