{% extends "home.html" %}
{% block content %}
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Back</h2>
					<img src="{{ url_for('static', filename='img/backarrow.png') }}" alt="Image of Landscape">
					<p><a class="btn btn-default" href="{{ url_for('main') }}" role="button">Back &raquo;</a></p>
				</div>
			
				<div class="col-md-4">
					<h2>Landscape</h2>
					<img src="{{ url_for('static', filename='img/27497526103_6ab1598206_q.jpg') }}" alt="Image of Landscape">
					<p><a class="btn btn-default" href="#" role="button">View Gallery &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>People</h2>
					<img src="{{ url_for('static', filename='img/29694785783_cdd13df6a0_q.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Gallery &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Animals</h2>
					<img src="{{ url_for('static', filename='img/29191674534_48a3080c7f_q.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Gallery &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Buildings</h2>
					<img src="{{ url_for('static', filename='img/29299078295_6dae938f94_q.jpg') }}" alt="Image of Buildings">
					<p><a class="btn btn-default" href="#" role="button">View Gallery &raquo;</a></p>
				</div>
				
			</div>
		</div> <!-- /container -->
	</body>
</html>
{% endblock %}