{% extends "home.html" %}
{% block content %}
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Back</h2>
					<img src="{{ url_for('static', filename='img/backarrow.png') }}" alt="Image of Landscape">
					<p><a class="btn btn-default" href="{{ url_for('gallery') }}" role="button">Back &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Daffodils</h2>
					<img src="{{ url_for('static', filename='img/landscape/landscape/daffodils_icon.jpg') }}" alt="Image of Landscape">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Red Yellow Green</h2>
					<img src="{{ url_for('static', filename='img/landscape/red_yellow_green_icon.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Wilsontown</h2>
					<img src="{{ url_for('static', filename='img/landscape/wilsontown_icon.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
			</div>
		</div> <!-- /container -->
	</body>
</html>
{% endblock %}