{% extends "home.html" %}
{% block content %}
		<div class="container">
			<!-- Example row of columns -->
			<div class="row">
				<div class="col-md-4">
					<h2>Back</h2>
					<img src="{{ url_for('static', filename='img/backarrow.png') }}" alt="Image of Landscape">
					<p><a class="btn btn-default" href="{{ url_for('gallery') }}" role="button">Back &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Biker</h2>
					<img src="{{ url_for('static', filename='img/people/biker_icon.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Daily Commute</h2>
					<img src="{{ url_for('static', filename='img/people/daily_commute_icon.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Eyes Closed</h2>
					<img src="{{ url_for('static', filename='img/people/eyes_closed_icon.jpg') }}" alt="Image of Buildings">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Gentlemen</h2>
					<img src="{{ url_for('static', filename='img/people/gentleman_icon.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Girl Drawing</h2>
					<img src="{{ url_for('static', filename='img/people/girl_drawing_icon.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Glasgow People</h2>
					<img src="{{ url_for('static', filename='img/people/glasgow_people_icon.jpg') }}" alt="Image of Buildings">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Kindness of Strangers</h2>
					<img src="{{ url_for('static', filename='img/people/kindness_of_strangers_icon.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Lady in Glasgow</h2>
					<img src="{{ url_for('static', filename='img/people/lady_in_glasgow_icon.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Lyndsey</h2>
					<img src="{{ url_for('static', filename='img/people/lyndsey_icon.jpg') }}" alt="Image of Buildings">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Man at Bus Stop</h2>
					<img src="{{ url_for('static', filename='img/people/man_at_bus_stop_icon.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Man in Hat</h2>
					<img src="{{ url_for('static', filename='img/people/man_in_hat_icon.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>People in Glasgow</h2>
					<img src="{{ url_for('static', filename='img/people/people_in_glasgow_icon.jpg') }}" alt="Image of Buildings">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Pink Coat</h2>
					<img src="{{ url_for('static', filename='img/people/pink_coat_icon.jpg') }}" alt="Image of People">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Animals</h2>
					<img src="{{ url_for('static', filename='img/people/sidestreet_icon.jpg') }}" alt="Image of Animals">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
				<div class="col-md-4">
					<h2>Buildings</h2>
					<img src="{{ url_for('static', filename='img/people/the_artist_icon.jpg') }}" alt="Image of Buildings">
					<p><a class="btn btn-default" href="#" role="button">View Image Info &raquo;</a></p>
				</div>
				
			</div>
		</div> <!-- /container -->
	</body>
</html>
{% endblock %}